# mongo.conf
smallfiles={{ mongod_smallfiles }}

#where to log
{% if ansible_os_family == "RedHat" %}
logpath=/var/log/mongo/mongod-{{ mongod_port }}.log
# fork and run in background
fork = true
{% endif %}
{% if ansible_os_family == "Debian" %}
logpath=/var/log/mongodb/mongod-{{ mongod_port }}.log
# fork and run in background
fork = false
{% endif %}

logappend=true


port = {{ mongod_port }}

dbpath={{ mongod_datadir_prefix }}/mongo-{{ mongod_port }}
keyFile={{ mongod_datadir_prefix }}/secret

# location of pidfile
pidfilepath = {{ mongod_datadir_prefix }}/mongod_{{ mongod_port }}.pid


# Ping interval for Mongo monitoring server.
#mms-interval = <seconds>

# Replication Options
{% if mongod_replication %}
replSet={{ mongod_replset_name | default(mongod_port) }}
{% endif %}

