LOCKD_TCPPORT={{ LOCKD_TCPPORT }}
LOCKD_UDPPORT={{ LOCKD_UDPPORT }}
MOUNTD_PORT={{ MOUNTD_PORT }}
RQUOTAD_PORT={{ RQUOTAD_PORT }}
STATD_PORT={{ STATD_PORT }}
STATD_OUTGOING_PORT={{ STATD_OUTGOING_PORT }}
