# {{ ansible_managed }}

# service checks to be applied to all hosts

define service{
        use                             generic-service  
        host_name                       *
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
}


define service {
        use                             generic-service
        host_name                       *
        service_description             Root Partition
        check_command                   check_nrpe!check_disk
}

define service {
        use                             generic-service
        host_name                       * 
        service_description             Current Users
        check_command                   check_nrpe!check_users!20!50
}


define service {
        use                             generic-service
        host_name                       * 
        service_description             Total Processes
        check_command                   check_nrpe!check_procs!250!400!RSZDT
}

define service {
        use                             generic-service
        host_name 		 	*	
        service_description             Current Load
        check_command                   check_nrpe!check_load!5.0,4.0,3.0!10.0,6.0,4.0
}

define service {
        use                             generic-service
        host_name                       * 
        service_description             Swap Usage
        check_command                   check_nrpe!check_swap
}

define service {
        use                             generic-service
        hostgroup_name                  sge_master
        service_description             sge_master
        check_command                   check_nrpe!check_sge_master
        notifications_enabled           1
}

define service {
        use                             generic-service
        hostgroup_name                  sge_slaves
        service_description             sge_slaves
        check_command                   check_nrpe!check_sge_slave
	check_interval			1
	retry_interval			1
        notifications_enabled           0
}
