define hostgroup {
        hostgroup_name sge_slaves
        alias SGE Slaves
}

{% for host in groups['sge_slaves'] %}
{% if host not in groups['sge_master'] %}
define host {
        use                     linux-server
        host_name               {{ host }} 
        alias                   {{ host }}
        address                 {{ hostvars[host].ansible_default_ipv4.address }}
        hostgroups              sge_slaves
}
{% endif %}
{% endfor %}
